body{
  font-family: "Georgia", serif;
  font-size: 1em;
  max-width: 100%;
  overflow-x: hidden;
}

h1{
  font-size: 1.2em;
  margin-top: 0;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
button{
  background-color: transparent;
  border: none;
  padding: 6px;
}
span{
 position: relative;
 font-family: "Georgia", serif;
 font-weight: bold;
 font-size: 1em;
 padding-left: 5%;
 padding-right: 5%;
 display: block;
}
div{
 overflow: hidden;
}
.title{
 font-size: 1em;
 font-weight: bolder;
}
.time{
  font-style: italic;
  font-weight: normal;
}
.week{
  display:block;
  float: none;
  width: 100%;
}
.day{
  display: inline-block;
  float: left;
  width: 14%;
  height: 90vh;
  border-style: solid;
  border-width: 1px;
  border-right: none;
}
.day:last-child{
  border-right: 1px solid;
}
.date{
 padding: 5%;
 height: 7%;
 border-bottom: 1px solid;
 }
.event{
 background-color: lightblue;
 border-radius: 15px;
 border: 1px solid;
 margin: 1%;
 box-shadow: 3px 3px 2px grey;
}

@media only screen and (max-width: 800px){
    h1{
        font-size: 16px;
    }
    span{
        font-size: 14px;
    }
    .title{
        font-size: inherit;
    }
    .description{
        display: None;
    }
}

@media only screen and (max-width: 660px){
    span{
        font-weight: normal;
    }
    .title{
        font-weight: normal;
    }
    .time{
        font-weight: lighter;
    }
    .week{
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        padding: 0;
    }
    .day{
        display: block;
        float: none;
        width: 100%;
        height: auto;
        border: none;
    }
    .day br{
        display: none;
    }
    .date{
        padding: 0;
        border: none;
    }
    .date br{
        display: None;
    }
    .date h1{
        margin: 1%;
        text-decoration: underline;
    }
    .event{
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    .event br{
        display: none;
    }


}
