/*section body*/
body{
    background-color: #fff;
}
/*/section*/
/*section overlay*/
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.overlay img{
    height: 100%;
    width: 100%;
}
/*/section*/
/*section logo*/
.logo img{
    position: absolute;
    top: 6.4%;
    left: 5.1%;
    height: 230px;
}
/*/section*/
/*section menu*/
.menu{
    position: absolute;
    top: 32.6%;
    left: 6%;
    z-index: 11;
}
.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li{
    margin-bottom: 40px;
    text-align: center;
}
.menu a{
    text-decoration: none;
    /*background-color: #f45c00;*/
    background-color: #aa4000;
    color: #111;
    display: block;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #000;
}

.menu a:hover{
    background-color: #f4df00;
}

.menu a.active{
    background-color: green;
}

.menu #schedule{
    position: relative;
    left: 20px;
}
.menu #news{
    position: relative;
    left: 10px;
}
.menu #community{
    position: relative;
    left: -10px;
}
.menu #about{
    position: relative;
    left: -0px;
}
.menu #bar{
    z-index: -1;
    position: relative;
    left: 45px;
    bottom: 300px;
    background-color: #aa4000;
    width: 10px;
    height: 250px;
    border: 2px solid #000;
}
/*/section*/
/*section title*/
/*.title img{
    position: absolute;
    top: 8%;
    left: 25%;
    height: 90px;
}*/
.title{
    position: absolute;
    top: 8%;
    left: 22%;
    width: 50%;
}
.title img{
    display: block;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
}
/*/section*/
/*section twitch*/
.twitch{
    position: absolute;
    top: 65.8%;
    left: 78.1%;
    height: 30%;

}
.twitch img{
    height: 240px;
}

.twitch iframe{
    z-index: 11;
    position: relative;
    width: 280px;
    top: -215px;
    left: 18px;
}
/*/section*/
/*section info*/
.info{
    position: absolute;
    top: 25%;
    left: 30%;
    width: 40%;
    height: 70%;
    z-index: 11;
}
.info p{
    font-family: "Georgia", serif;
    font-weight: bold;
    font-size: 1em;
}
.info #discord{
    position: relative;
    top: -300px;
    float: right;
    width: 50%;
    height: 85%;
}

.info img{
    height: 300px;
}

/*/section*/
/*section clock*/
.clock{
    z-index: -1;
    position: absolute;
    top: 5%;
    left: 75%;
}
.clock p{
    position: relative;
    left: 55px;
    font-family: "Georgia", serif;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: -10px;

}
/*/section*/
